<div *ngIf="user">
  <div>
      <label>Name: </label> {{user.firstName}}
  </div>
  <div>
      <label>Age: </label> {{user.lastName}}
  </div>
  <div>
      <label>Active: </label> {{user.emailId}}
  </div>
  <div>
      <label>Active: </label> {{user.active}}
  </div>

  <span class="button is-small btn-primary" *ngIf='user.active' (click)='updateActive(false)'>Inactive</span>

  <span class="button is-small btn-primary" *ngIf='!user.active' (click)='updateActive(true)'>Active</span>

  <span class="button is-small btn-danger" (click)='deleteEmployee()'>Delete</span>

  <hr/>
</div>